:root {
    --background1: #CCD4E3;
    --textColor1: #462480;
    --textColor2: #E4E4E4;
    --shadowColor1: #0e0e0e;
    --mainFont: "Open Sans", sans-serif;
}

html, body, #root {
    background: var(--background1);
    color: var(--textColor1);
    font-family: var(--mainFont);
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-header {
    display: flex;
    height: 250px;
    padding-top: 50px;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    position: relative;
    margin: 0;
    /*background: linear-gradient(transparent, var(--background1)), url(../Images/header_bg.jpg);*/
}

.app-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background1);
    flex-wrap: wrap;
    
}

.app-header-left {
    display: flex;
    cursor: pointer;
    gap: 10px;
    margin-left: 32px;
    text-align: center;
    flex: 1 1 300px;
}

.app-header-left>h1 {
    font-size: 1.4rem;
    
}

.app-header-right {
    display: flex;
    height: 60px;
    gap: 20px;
    align-items: center;
    padding-right: 32px;
    justify-content: end;
    flex: 1 1 300px;
}


.app-header-button {
    background-color: var(--background1);
    padding: 4px 8px;
    text-align: center;
    border: 2px solid var(--textColor1);
    border-radius: 5px;
    font-family: var(--mainFont);
    color: var(--textColor1);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.app-header-button:hover {
    background-color: var(--textColor1);
    color: var(--background1);
}

.app-header-button:active {
    box-shadow: 0 5px 10px var(--textColor1);
}

.page-header-title {
    display: flex;
    font-size: 1.35rem;
    margin: auto;
}

.page-header-subtitle {
    margin: 50px 20px;
    max-width: 700px;
    font-size: 1rem;
}

.page-header-subtitle>a{
    color: var(--textColor1);
}

#skills {
    display: flex;
    flex-direction: column;
}

.mainContent {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    flex: 1;
    background-color: var(--shadowColor1);
    margin:0;
}

.horizontalList {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.fieldElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 60px;
    width: 400px;
    font-size: 1rem;
}

.fieldElement-skills {
    padding-left: 10px;
    border-radius: 10px;
    padding: 10px;
}

.fieldElement-skills-list {
    font-size: 0.8rem;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 5px;
}

.fieldElement-skills-label {
    font-size: 1rem;
    font-weight: bold;
}

.fieldElement-skills-list>li {
    border: 2px solid var(--textColor1);
    background-color: var(--background1);
    color: var(--textColor1);
    padding: 5px 10px;
    border-radius: 5px;
}

.itemImage {
    height: 100px;
    object-fit: cover;
    color: var(--textColor1);
    filter: invert(90%) sepia(90%) saturate(7485%) hue-rotate(249deg) brightness(40%) contrast(150%);
}

.signup-form {
    background-color: var(--background1);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    align-items: center;
    width: max-content;
    margin: 20px auto;
    border: 5px solid var(--textColor1);
    border-radius: 10px;
    gap: 15px;
    box-shadow:
        0 0 10px 5px var(--shadowColor1),
        inset 0 0 10px 5px var(--shadowColor1);

}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    height: max-content;
}

.form-field-label {
    font-weight: bold;
    font-size: 1.1rem;
}

.form-field-input {
    background-color: var(--background1);
    border: 2px solid var(--textColor1);
    border-radius: 5px;
    width: 300px;
    height: 25px;
    font-size: 0.9rem;
    color: var(--textColor1);
    padding: 2px 10px;
    font-family: var(--mainFont);
}

.form-field-input:focus {
    outline-color: var(--textColor1);
}

.signup-send-button {
    background-color: var(--textColor1);
    border: 2px solid var(--textColor1);
    margin-top: 15px;
    border-radius: 5px;
    width: 320px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--background1);
    padding: 5px 10px;
    font-family: var(--mainFont);
    box-shadow: 0 0 10px 5px var(--shadowColor1);
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.project-list {   
    margin-top: 0; 
    width: 100vw; 
    height: 100%;
    padding-inline: auto;
}

.project-list>ul {
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-left: 0;
}

.project-item {
    margin-bottom: 2vw;    
}


.project-item-info {
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
}

.project-item-text-box {
    font-weight: normal;
    width: 500px;
    position:relative;
}

.project-item-info-title {  
    display: inline-block;
    position: relative;
    color: var(--background1);
    margin-top: 3px;
    font-weight: 900;
    font-size: 1.55rem;
    border-radius: 0 0 0 0;
    white-space: nowrap; 
}

.project-item-info-title-box 
{
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 500px;
    background: linear-gradient(to right,
        var(--textColor1) 0%,
        var(--textColor1) var(--title-width),
        var(--background1) 100%);
    z-index: -1; 
}

.project-item-info-description {
    font-size: 1rem;
    font-weight:normal;
    padding-left: 15px;
    flex: 1 1 500px;
}

.project-item-media-box {
    padding: 10px;
    background-color: var(--textColor1);
    border-radius: 8px 0 8px 8px;
}


.project-item-video {
    display: flex;    
    position: relative;
    width: 640px;
    height: 360px;    
}

.project-item-video-frame {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.video-player-side-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(250, 250, 250, 0.5);
    border: none;
    border-radius: 5px;
    color: #FAFAFA;
    font-size: 2rem;
    cursor: pointer;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s, background 0.3s, color 0.3s;
}

.video-player-side-button:hover {
    background: var(--textColor1);
    color: var(--background1);
}

.project-item-video.fade-out .video-player-side-button {
    opacity: 0;
}

.project-item-video.fade-in .video-player-side-button {
    opacity: 1;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.project-item-image {
    width: 640px;
    height: 360px;   
}

.project-item-image>img {
    width: 640px;
    height: 100%;
    border-radius: 8px;
}

.project-item-skills {
    padding-left: 10px;
}

.project-item-skills-list {
    font-size: 1rem;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 5px;
}

.project-item-skills-label {
    font-size: 1.15rem;
    font-weight: bold;
}

.project-item-skills-list>li {
    background-color: var(--textColor1);
    color: var(--background1);
    padding: 5px 10px;
    border-radius: 5px;
}


.about-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 15px solid var(--textColor1);
    border-radius: 50px;
    box-shadow: 0px 0px 5px 1px var(--shadowColor1);
    margin: 30px 10vw 30px 10vw;
    margin-inline: auto;
    flex: 0 1 700px;
    overflow: auto;
}

.about-bio {
    display: flex;
}

.about-picture {
    width: 190px;
    height: 190px;    
    background-image: url("https://i.imgur.com/UiwR4yR.jpeg");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid var(--textColor1);
    border-radius: 15%;
    
}

.about-name {
    color: var(--background1);
    background-color: var(--textColor1);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.3rem;
    width: max-content;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-info {
    display: flex;
    align-items: center;
    color: var(--textColor1);;
    gap: 10px;
    height: 30px;
}

.contact-link-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: max-content;
    margin-top: 15px;
}

.contact-link-button {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 200px;
    border: none;
    font-family: var(--mainFont);
    width: max-content;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: var(--textColor1);
    color: var(--background1);
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px var(--shadowColor1);
}

.contact-link-button>a {
    font-style: normal;
    color: var(--textColor1);
    text-decoration: none;
}

.contact-link-button:hover {
    background-color: var(--background1);
    color: var(--textColor1);
    font-weight: 500;
}

.contact-link-button:hover a {
    background-color: var(--background1);
    color: var(--textColor1);
    font-weight: 500;
}

.contact-link-button-icon {
    width: 20px;
    background-color: var(--background1);
    border-radius: 15%;
    padding: 1px;
}

.contact-info-other-icon {
    width: 25px;
    height: 25px;
    background-color: var(--textColor2);
    border-radius: 50%;
    padding: 2px;
}

@media (max-width: 768px) {    
    
    .app-header-left {
        text-align: center;
    }

    .app-header-left>h1 {
        font-size: 1rem;
    }

    .app-header-right 
    {
        padding-right: 0;
        justify-content: center;
    }

    .horizontalList {
        width: 100vw;
        margin-left: 0;
        padding-inline: 0;
    }

    .fieldElement {
        width: 100vw;
        padding-inline: 3vw;
        margin-bottom: 30px;
    }

    .project-list>ul {
        display: flex;
        flex-direction: column;    
        align-items: center;
        padding-inline: 3vw;
    }

    .project-item {
        display: flex;
        width: 100%;
        margin-bottom: 8vh;
    }    

    .project-item-info {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .project-item-info-title {
        margin-top: 0;
        margin-inline: 3vw;
        border-radius: 0px 0px 8px 8px;
    }
    
    .project-item-info-description {
        padding-inline: 3vw;
    }

    .project-item-media-box {        
        width: 100%;
        background-color: var(--textColor2);
        border-radius: 8px 8px 0px 0px;
        margin-inline: 3vw;
    }

    .project-item-video {
        display: flex;  
        width: auto;  
        height:fit-content;
    }

    .project-item-video-frame {
        width: 100%;
        height: 180px;
        border-radius: 8px 8px 8px 8px;
    }

    .project-item-image {
        width: inherit;
        height: 100%;
    }
    
    .project-item-image>img {
        width: inherit;
        height: 100%;
    }
    
    .about-main {
        margin-inline: 2vw;
        margin-bottom: 20px;
    }

    .about-main-top {
        margin: 0;
    }

    .about-main-info {
        width: 100%;
        margin-inline: 0;
        gap: 10px
    }

    .about-main-info-name {
        width: auto;
    }

    .about-main-info-other {
        width: auto;
    }

    .about-main-link-buttons {
        width: auto;
    }

    .about-main-bottom {
        margin: 0 20px 10px 20px;
    }
}



