:root {
    --background1: #272727;
    --textColor1: #FAFAFA;
    --mainFont: "Roboto Condensed"
}

body {
    background-color: var(--background1);
    color: var(--textColor1);
    font-family: var(--mainFont);
    margin: 0;

}

.header {
    display: flex;
    height: 250px;
    padding-top: 50px;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    position: relative;
    margin: 0;
    background: linear-gradient(transparent, var(--background1)), url(../Images/header_bg.jpg);
}

.app-header {
    display: flex;
    height: 60px;
    gap: 20px;
    align-items: center;
    padding-right: 32px;
    justify-content: end;
}

.app-header-button {
    background-color: transparent;    
    padding: 4px 8px;
    text-align: center;
    border: 2px solid #FAFAFA;
    border-radius: 5px;
    font-family: var(--mainFont);
    color: #FAFAFA;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.title {
    text-shadow: 1px 1px 5px black;
}

.subtitle {
    text-shadow: 1px 1px 5px black;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontalList {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    align-items: start;
}

.fieldElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 60px;
    width: 300px;
}

.itemImage {
    height: 100px;
    object-fit: cover;
    color: #FAFAFA;
}